* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: #0e100f;
    font-family: 'Mori', sans-serif;
}

nav {
    width: 90%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    border-bottom: 1px solid #42433d;
}

nav .left,
nav .right {
    display: flex;
    align-items: center;
    gap: 30px;
}

nav .left img {
    width: 100px;
}

nav .left ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
}

nav .left ul li a,
nav .right a {
    text-decoration: none;
    color: #7c7c6f;
    display: flex;
    font-size: 1.125rem;
    font-weight: 600;
    padding: 1rem 0;
    transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

nav ul li a:hover,
nav .right a:hover {
    color: #fffce1;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.9375rem 1.5rem;
    border: 2px solid #fffce1;
    border-radius: 100px;
    background: transparent;
    color: #7c7c6f;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: -0.01em;
    cursor: pointer;
    transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.btn:hover {
    color: #fffce1;
}

#main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fffce1;
    font-size: 7.5vw;
}

#page1 {
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    position: relative;
}

#page1 .text1 {
    text-align: left;
    margin-top: 70px;
}

#page2 .text2 {
    text-align: right;
    margin-top: -30px;
}

#page1 .Mysvg {
    width: 120px;
    height: 110px;
    position: absolute;
    left: 175px;
    top: 39px;
    animation: rotate 3s linear infinite;
}

@keyframes rotate {
    0%, 25% {
        transform: rotate(-90deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

#page1 .modelImg {
    position: absolute;
    height: 150px;
    right: 420px;
    top: 480px;
    transform: rotate(20deg);
    animation: rotates 3s linear infinite alternate;
}

@keyframes rotates {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-25deg);
    }
}
